body{
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg) ;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper{
    width: 400px;
    height: 420px;
    color: #000;
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
}

h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color:  #ffffff;
    text-align: center;
    margin-bottom: 8%;
    font-family: 'Pacifico', cursive;
}

.wrapper input{
    width: 100%;
    margin-bottom: 20px;
}

.wrapper input[type=text], .wrapper input[type=password]{
    border: none;
    border-bottom: 1ox solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #ccc;
}

.wrapper input[type=submit]
{
    border: none;
    outline: none;
    height: 40px;
    background: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.wrapper input[type=submit]:hover{
    cursor: pointer;
}

.wrapper a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

.wrapper a:hover{
    color: #fff;
    opacity: 1;
}

.bottom-text{
    color: #fff;
}

.bottom-text input{
    width: 10%;
    float: left;
}

.bottom-text a{
    float: right;
}

/* End of Login Page */